{% extends "OCLouvreBundle::layout.html.twig" %}

{% block navbar %}
    {{ include("OCLouvreBundle:Louvre:nav_bar_billet.html.twig") }}
{% endblock %}

{% block body %}
    <div id="baniere">
        <p>
            <a title="Retour à l'accueil" id="path-home" href="{{ path('oc_louvre_homepage') }}">
                Louvre
            </a>
            <span>&gt;</span>
            <span class="crumbName">Billetrie automatique</span>
        </p>
    </div>

    <header style="margin-top: 100px">
        <div class="intro-body">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="text-align: center">
                    <h2>Musée du Louvre</h2>
                    <p>
                        Entrée gratuit, sans billet, sur présentation d’un justificatif pour les moins de 4 ans,
                        les personnes handicapées et leur accompagnateur, et les bénéficiaires des minima sociaux.<br>
                        Billet valable seulement le jour sélectionné.
                    </p>
                </div>
            </div>
            <div class="container">
                <div id="titre">
                    <h3>Formulaire d'achat des billets</h3>
                </div>

                <div class="row">
                    <div id="form" class="col-sm-8">
                        <div id="formulaire">
                            {{ include("OCLouvreBundle:Louvre:form.html.twig") }}
                        </div>
                    </div>
                    <div id="panier" class="col-sm-4">
                        <div id="panierIcon">
                            <i id="cart"class="material-icons">add_shopping_cart</i>
                        </div>
                        <div>
                            <table id="detaillePrix" style="width:100%">
                                <tr>
                                    <th>Visiteur</th>
                                    <th class="leftText">prix</th>
                                </tr>
                            </table>
                            <br><br>
                            <div><p>Total : ............................................<span id="total">0.00</span> €</p></div>
                        </div>
                        <br><br>
                        <div><p id="messageInfo"></p></div>

                    </div>

                </div>



            </div>
        </div>
    </header>


{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_y92oqjpy2wytEQMZSoEnUVYR');
        var $form = $('#payment-form');
        $form.submit(function (e) {
            e.preventDefault();
            $form.find('button').prop('disabled', true);
            // Se connecter a l'API Stripe pour générer un token a partire des information
            Stripe.card.createToken($form, function(status, response){
                if(response.error) {
                    $form.find('.message').remove();
                    var $errorInfo= $('<div class="alert alert-danger" role="alert"><p>' + response.error.message + '</p></div>');
                    $('#messagError').append($errorInfo);
                    $('#valide').removeAttr('disabled');

                    setTimeout(function (){
                        messagError.style.display = "none";
                    }, 2000);
                } else {
                    var token = response.id;
                    $form.append($('<input type="hidden" name="stripeToken">').val(token));
                    $form.get(0).submit();
                }
            })
        })
    </script>
{% endblock %}
