{% extends "OCLouvreBundle::layout.html.twig" %}

{% block body %}
    <style>
        body{
            background-color: #e7e7e7;
            color: #0f0f0f;
        }
        .pJustify {
            padding: 20px;
            text-align: justify;
        }

        h3 {
            margin-top: 200px;
        }

        table {
            margin: auto;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        td, th {
            border: 1px solid #dddddd;
            padding: 15px;
        }
        th, h3, .cent {
            text-align: center;
        }

        td {
            text-align: left;
        }

        .rightAlign {
            text-align: right;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

<div class="container">
    <h3>Détail de votre commande</h3>
    <p class="pJustify">Cher Visiteur</p>
    <p class="pJustify">
        Le Musée du Louvre vous remercie de votre confiance.
        Vous trouverez ci-joint le récapitulatif de votre commande.
        Un email vous à été envoyé à l'adresse: {{ email.email }} et qui fera foi de Billet.<br>
        Veuillez consulter votre boite e-mail, afin d'imprimer ce document qui vous sera demandé à l'accueil du bâtiment le jour de votre visite.<br>
        Vous pouvez télécharger le plan du musée en cliquant sur ce <a href="http://www.louvre.fr/sites/default/files/medias/medias_fichiers/fichiers/pdf/louvre-plan-information-francais.pdf">lien</a> :
        Nous vous souhaitons une bonne visite
    </p>

    <div>
        <p class="pJustify">Numéro de Billet : {{ billet.numeroBillet|upper }}<br>
        Date de visite : {{ billet.dateReservation.date|date("d F Y") }}</p>
    </div>

    {{ include('OCLouvreBundle:Louvre:detail_table.html.twig') }}

</div>

{% endblock %}
