<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <style>
        .flex-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            height: 250px;
        }

        .flex-item {
            width: 450px;
            height: 190px;
        }

        .flex-item:first-child {
            margin-right: auto;
        }

        .center {
            padding: 70px 100px;
        }

        p {
            padding: 20px;
            text-align: justify;
        }

        table {
            margin: auto;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        td, th {
            border: 1px solid #dddddd;
            padding: 15px;
        }
        th, h3, .cent{
            text-align: center;
        }
        td {
            text-align: left;
        }

        .rightAlign {
            text-align: right;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>

<body>
    <div class="flex-container">
        <div class="flex-item">
            <img src="http://jiajuanli.eu/wp-content/uploads/2017/04/Louvre-LOGO.png">
        </div>
        <div class="flex-item center">
            <address>
                <b>Musée de Louvre</b><br>
                Rue de Rivoli,<br>
                75001 Paris
            </address>
        </div>
    </div>

    <h3>Détail de votre commande</h3>
    <p>Cher Visiteur</p>
    <p>
        Le Musée du Louvre vous remercie de votre confiance.
        Vous trouverez ci-joint le récapitulatif de votre commande.
        Veuillez noter que cet email fait office de réservation.
        Ce document vous sera demandé à l'accueil du bâtiment.
        Vous pouvez télécharger le plan du musée en cliquant sur ce lien :
        Nous vous souhaitons une bonne visite
    </p>
    <div>
        <p>Numéro de Billet : {{ billet.numeroBillet|upper }}</p>
        <p>Date de visite : {{ billet.dateReservation.date|date("d F Y") }}</p>
    </div>

    {{ include('OCLouvreBundle:Louvre:detail_table.html.twig') }}

</body>

</html>
