#moi-exp, #year-exp, #cvc1 {
    width: 70px;
}

#test {
    margin-left: 7px;
}

#divnum {
    margin-right: 3px;
}
/*label {
    text-align: left;

}*/
#panier, #form {
    border: 1px solid white;
}

#formulaire {
    margin-top: 20px;
}

#titre, #panierIcon, #visiteur{
    text-align: center;
}

#cart{
    margin-top: 10px;
}
